---
- name: gather properties of '{{ zfs_filesystem.name | mandatory }}'
  community.general.zfs_facts:
    name: "{{ zfs_filesystem.name }}"
  failed_when: false
  changed_when: false
  register: zfs_filesystem_facts

- name: prepare filesystem properties
  prepare_zfs_properties:
    new_properties: "{{ zfs_filesystem_properties }}"
    current_properties: "{{ ansible_zfs_datasets[0] | default({}) }}"
    type: filesystem
  register: prepared_filesystem_properties

- name: manage filesystem '{{ zfs_filesystem.name }}'
  community.general.zfs:
    name: "{{ zfs_filesystem.name }}"
    state: "{{ zfs_filesystem.state | default('present') }}"
    extra_zfs_properties: "{{ prepared_filesystem_properties.properties }}"
