{{ ansible_managed | comment }}

[Unit]
Description=Trim ZFS Pool %i
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
ExecStart=/sbin/zpool trim %i
Nice=19
IOSchedulingClass=idle
KillSignal=SIGINT
