#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{{ ansible_managed | comment }}

{% for key, value in (zfs_kernel_module_parameters | dictsort()) %}
options zfs {{ key }}={{ value }}
{% endfor %}
